.figure {
  text-align: left;
  background-color: rgba(220, 220, 220, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

/* .container {
  background-color: rgba(220, 220, 220, 0.3);
} */

.half {
  width: 50%;
  display: inline-block;
}

.block {
  display: block;
  text-align: right;
}
